@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Astonpoliz";
	src: url("../fuentes/Astonpoliz.otf");
}

body{
	background-image: url("../img/schoolkids.jpeg");
	background-size: cover;
}
.contenedor{
	border-radius: 10px;
	margin: 0;
	position: absolute;
	width: 35%;
	top: 50%;
	left: 10%;
	transform: translate(-10%, -50%);
	background-color: darkgrey;
	text-align: center;
	font-family: "Astonpoliz";
}
.contenedor form{
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}	
.invalid{
	border: solid medium red;
	border-radius: 3px;
}

.login_input{
	display: flex;
	
}

.msjvalido{
	font-size: 0.75rem;
}
.msjinvalido{
	font-size: 0.75rem;
	color: red;
}
.logo{
	width: 50%;
	background-color: #244CA4;
	margin: 0;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	align-content: center;
	text-align: center;
}
.logo img{
	width: 75%;
}