@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Astonpoliz";
	src: url("../fuentes/Astonpoliz.otf");
}
.login-form{
	margin: 0;
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	align-content: center;
	text-align: center;
	z-index: 1;
	background-color: #FFFFFF;
}
.fondo{
	position: absolute;
	max-width: 70vw;
	min-width: 0vw;
	height: 100vh;
	margin: 0;
	top: 0;
	right: 0;
}
.fondo img{
	width: 100%;
	height: 100%;
}
.formulario{
	
	margin: auto;
	width: 80%;
	font-family: "Astonpoliz";
	z-index: 3;
	border-radius: 5px;
	box-shadow: 0 0 5px 3px lightgray;
}
.formulario form{
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 5px;
}
.formulario img{
	width: 75%;
}
.campo{
	text-align: left;
	margin: 3px 0 5px 0;
}
.campo label{
	padding: 3px 0;
}
.invalid{
	border: solid medium red;
	border-radius: 3px;
}

.login_input{
	display: flex;
}

.msjvalido{
	font-size: 0.75rem;
}
.msjinvalido{
	font-size: 0.75rem;
	color: red;
}
.logo img{
	width: 75%;
}
.espaciado
{
	padding: 5px 0px;
}
.botonLogin{
	background-color: limegreen;
	width: 50%;
}
.partialInput
{
	width: 80%;
}