#filtro{
    width: 300px;
    margin-left: 0 !important;
}

.toggle-estado ,.editar-perfil,#usuariodialog,#tablaperfil,#filtro{
    display: none;
}

.toggle-estado ,.editar-perfil{
    width: 100px;
}

