.estate,.editar-usuario{
    width: 100px;
    
}

.estate,.editar-usuario,#lebusqueda,#tablausuarios,#usuariodialog{
    display: none;
}
#lebusqueda{
    width: 300px;
    margin-left: 0 !important;

}